<div class="col-md-3" ng-include="'views/partials/leftMenu.html'">
</div>


<div class="col-md-6">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Hello World AngularJS CodeIgniter</h3>
        </div>
        <div class="panel-body">

            <p>sample app structure basic integration between AngularJS 1.x and LAMP Codeigniter 3.x. 
            </p>


            <p>This project code is forked from 
                https://github.com/giannidk/CodeIgniter-AngularJS-sample-app/  
            </p>    
            <p>Additional Features added from the original git repo<br />
            <ol>

                <li>Edit News or Articles  </li>
                <li>Access control for Edit News  </li>
                <li>Login/Logoff  </li>
                <li>User / Admin feature Protected by php session backend  (could switch to JWT in front end easily)  </li>
                <li>AngularJS improvement upgraded to 1.5.11 and JS code clean up  </li>
                <li>Rich text editor - Angular-ui-tinymce  </li>
                <li>Quick article edit for admin</li>
                <li>Categories View of article </li>


        </div>
    </div>

</div>


<div class="col-md-3" ng-include="'views/partials/rightMenu.html'">
</div>
